
@code {
    private decimal _value;

    [Parameter]
    public EventCallback<decimal> ValChanged { get; set; }

    [Parameter]
    public decimal Val 
    {
        get => _value;

        set
        {
            if (_value == value) return;

            _value = value;

            ValChanged.InvokeAsync(value);   
        }
    }

    [Parameter]
    public Action<decimal> ChangeProc { get; set; }
}

@*<RadzenSlider Style="width: 50%;" @bind-Value="@Val" TValue="decimal" Min="0" Max="@(Math.Max(Max, 0.1m))" Change=@(arg => ChangeProc(arg)) />*@

<RadzenSlider Style="width: 50%;" @bind-Value="@Val" TValue="decimal" Min="0" Max="100" Change=@(arg => ChangeProc(arg)) /> wierd

<br />

<RadzenSlider Style="width: 50%;" @bind-Value="@Val" TValue="decimal" Min="0" Max="100" Change="ChangeProc" /> works

@*<RadzenSlider Style="width: 50%;" @bind-Value="@Val" TValue="decimal" Min="0" Max="100" Change="@ChangeProc" />*@

<br />

<button>@Val</button>
